/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Noto+Sans:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
@import url('https://fonts.font.im/css2?family=Noto+Sans:wght@100..900&display=swap');

@import url('https://fonts.font.im/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.font.im/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-weight: 500;
}

*[lang='en'] {
  --font-family: Noto Sans, sans-serif;
  font-family: var(--font-family);
}

*[lang='zh-Hans'] {
  --font-family: Noto Sans, 'Noto Sans SC', sans-serif;
  font-family: var(--font-family);
}

*[lang='ja'] {
  --font-family: Noto Sans, 'Noto Sans JP', sans-serif;
  font-family: var(--font-family);
}

:root {
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}
