@import url('./font.css');
@import 'tailwindcss';

body {
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--color-body);
}

* {
  transition: all 0.25s;
}

::selection {
  background-color: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #fff !important;
  border-radius: 2.5px;
}

@layer hover {
  .hover {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .hover:hover {
    background-color: #fff;
    color: #000;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
}

a {
  text-decoration: solid underline #fff;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

a:hover {
  background-color: #fff;
  color: #000;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
}

a.text {
  text-decoration: none;
}
